<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout( ~{::title}, ~{::section} )}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    
</head>
<body>
    <section>
        <div class="container-fluid p-0 m-0">
            <div class="image-container">
                <img alt="" src="/image/NewBus.jpg" height="542px" width="100%">
                <div class="quote">Your Safe Travel Journy is our Main Goal.</div>
            </div>
        </div>
            
            
            <div class="container p-2">
			<p class="text-center fs-2">Our Comfort Feature</p>
			
				<div class="row">
							<div class="col-md-4">
								<div class="card paint-card">
									<div class="card-body text-center">
										<img alt="" src="/image/bus11.jpg" width="280px" height="285px">
										<p class="fw-bold fs-5">Comfort Seat</p>
										
									</div>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="card paint-card">
									<div class="card-body text-center">
										<img alt="" src="/image/bus12.jpg" width="280px" height="285px">
										<p class="fw-bold fs-5">Clean Environment</p>
										
									</div>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="card paint-card">
									<div class="card-body text-center">
										<img alt="" src="/image/bus13.jpg" width="280px" height="285px">
										<p class="fw-bold fs-5">Leather Seat</p>
										
									</div>
								</div>
							</div>		
			</div>
		</div>
        
    </section>
        
        
   
</body>
</html>
