<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout( ~{::title}, ~{::section} )}">
<head>
<meta charset="ISO-8859-1">
<title>UserHome Page</title>
</head>
<body>
	<section>
        <div class="container-fluid p-0 m-0">
            <div class="image-container">
                <img alt="" src="/image/NewBus.jpg" height="542px" width="100%">
                <div class="quote">Your Safe Travel Journy is our Main Goal.</div>
            </div>
        </div>
    </section>
</body>
</html>